In [12]:
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
df = pd.read_csv('dados.csv', sep = ';')
df.head()

,Data Medicao,"PRECIPITACAO TOTAL,DIARIO (AUT)(mm)","TEMPERATURA MAXIMA,DIARIA (AUT)(°C)","TEMPERATURA MEDIA,DIARIA (AUT)(°C)","TEMPERATURA MINIMA,DIARIA (AUT)(°C)","VENTO,VELOCIDADE MEDIA DIARIA (AUT)(m/s)",Unnamed: 6
0,2004-12-21,NaN,"29,2",NaN,NaN,NaN,",,,,"
1,2004-12-22,NaN,NaN,NaN,NaN,NaN,",,,,,"
2,2004-12-23,NaN,"31,4",NaN,"24,5",NaN,",,,"
3,2004-12-24,NaN,"31,2","27,5",23,"3,154545",",,"
4,2004-12-25,NaN,"30,9","27,166667","24,2","2,883333",","

In [14]:
df.shape

(6586, 7)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6586 entries, 0 to 6585
Data columns (total 7 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Data Medicao                              6586 non-null   object
 1   PRECIPITACAO TOTAL,DIARIO (AUT)(mm)       5593 non-null   object
 2   TEMPERATURA MAXIMA,DIARIA (AUT)(°C)       5688 non-null   object
 3   TEMPERATURA MEDIA,DIARIA (AUT)(°C)        5601 non-null   object
 4   TEMPERATURA MINIMA,DIARIA (AUT)(°C)       5704 non-null   object
 5   VENTO,VELOCIDADE MEDIA DIARIA (AUT)(m/s)  4640 non-null   object
 6   Unnamed: 6                                4616 non-null   object
dtypes: object(7)
memory usage: 360.3+ KB

In [16]:
df1 = df.dropna()

In [17]:
df1.drop('Unnamed: 6', axis = 1, inplace = True)

C:\Users\carlo\AppData\Local\Temp\ipykernel_14896\4204031920.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop('Unnamed: 6', axis = 1, inplace = True)

In [18]:
df1.shape

(2598, 6)

In [19]:
df1.head()

,Data Medicao,"PRECIPITACAO TOTAL,DIARIO (AUT)(mm)","TEMPERATURA MAXIMA,DIARIA (AUT)(°C)","TEMPERATURA MEDIA,DIARIA (AUT)(°C)","TEMPERATURA MINIMA,DIARIA (AUT)(°C)","VENTO,VELOCIDADE MEDIA DIARIA (AUT)(m/s)"
12,2005-01-02,0,"31,3","27,2375","21,6","2,441667"
13,2005-01-03,0,"31,2","27,816667","25,3","3,045833"
16,2005-01-06,0,"30,7","26,141667","20,1","2,55"
17,2005-01-07,0,"31,1","25,9875","20,4","1,833333"
18,2005-01-08,5,"31,6","26,666667","22,2","2,075"

In [20]:
data = df1.rename(columns={"Data Medicao": "Data", 
                    "PRECIPITACAO TOTAL,DIARIO (AUT)(mm)": "Prec_Total_Diária",
                    "TEMPERATURA MAXIMA,DIARIA (AUT)(°C)": "Temp_Max_Diária",
                    "TEMPERATURA MEDIA,DIARIA (AUT)(°C)": "Temp_Med_Diária", 
                    'TEMPERATURA MINIMA,DIARIA (AUT)(°C)': "Temp_Min_Diária", 
                    'VENTO,VELOCIDADE MEDIA DIARIA (AUT)(m/s)':'Vento_Med_Diária'})

data.tail()

,Data,Prec_Total_Diária,Temp_Max_Diária,Temp_Med_Diária,Temp_Min_Diária,Vento_Med_Diária
6164,2021-11-06,0,"34,3","27,7875","22,4","1,654167"
6165,2021-11-07,",2","33,6","28,729167",26,"1,683333"
6166,2021-11-08,0,"32,9","28,033333","23,9","1,595833"
6167,2021-11-09,0,"32,9","27,508333","22,5","1,695833"
6168,2021-11-10,0,"32,1","27,616667","24,2","1,804167"

In [21]:
dataframe = data.replace({',': '.'}, regex=True)

In [22]:
df_final = dataframe.astype({'Prec_Total_Diária': 'float',
            'Temp_Max_Diária': 'float',
            'Temp_Med_Diária': 'float',
            'Temp_Min_Diária': 'float',
            'Vento_Med_Diária': 'float'})

df_final['Data'] = pd.to_datetime(df_final['Data'])

In [23]:
#Exportar csv tratado

df_final.to_csv("dados_clima_recife_2005_2021.csv", index = False)